---
import AstroLink from "@/components/markdown/AstroLink.astro";
import PostTag from "@/components/PostTag.astro";
import ContentWrapper from "@/components/ui/ContentWrapper.astro";
import Details from "@/components/ui/Details.astro";
import Markdown from "@/components/ui/Markdown.astro";
import Toc from "@/components/ui/Toc/index.astro";
import Layout from "@/layouts/Layout.astro";
import { getBlog, getTocHierarchy } from "@/utils/getBlog";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import urlJoin from "url-join";

export const getStaticPaths = (async () => {
  const blog = await getBlog();
  const result = blog.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
  return result;
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { post } = Astro.props as Props;
const { id, slug, body, collection, render, data } = post;
const place = `${collection}/${id}`;
const { title, description, tags, create, update, image, published, noindex } =
  data;
const lastModified = update || create;
const date = lastModified.toLocaleDateString("ja-JP", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
const isoDate = lastModified.toISOString();
const { Content, headings } = await render();
const toc = getTocHierarchy(headings);
const ogImage = urlJoin(Astro.url.origin, "/api/og/blog", slug);

export const components = {
  a: AstroLink
}
---

<Layout {title} {description} {noindex} image={ogImage}>
  <article>
    <ContentWrapper>
      <div class="container">
        <div>
          <h1>{title}</h1>
          <div class="info">
            <time datetime={isoDate}>{date}</time>
            {tags.length && (
              <>
                <span>/</span>
                <div class="tags">
                  {tags.map(tag => <PostTag {tag} />)}
                </div>
              </>
            )}
          </div>
        </div>
        <nav>
          <Details summary="TOC">
            <Toc {toc} />
          </Details>
        </nav>
        <Markdown>
          <Content {components} />
        </Markdown>
        </div>
    </ContentWrapper>
  </article>
</Layout>

<script is:inline>
  if(document.getElementsByClassName("twitter-tweet").length){
    const script = document.createElement("script");
    script.src = "https://platform.twitter.com/widgets.js";
    document.body.appendChild(script);
    script.remove()
  }
</script>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  h1 {
    text-align: center;
  }
  .info {
    margin-inline: auto;
  }
  .info, .tags {
    display: flex;
    gap: .5rem;
  }

</style>


