---
import ActivityCalendar from "@/components/ActivityCalendar/index.svelte";
import FeedList from "@/components/FeedList.svelte";
import Hero from "@/components/Hero.svelte";
import RepositoryList from "@/components/RepositoryList.svelte";
import ContentWrapper from "@/components/ui/ContentWrapper.svelte";
import Layout from "@/layouts/Layout.astro";
import { getFeedItems } from "@/utils/feed";
import { getBlog } from "@/utils/getBlog";
import { getUserContent } from "@/utils/github/getUserContent";

const userContent = getUserContent();
const feedItems = getFeedItems();
const blogItems = (await getBlog()).map((post) => {
  const { slug, data } = post;
  const { title, tags, create, update } = data;
  const link = `/blog/${slug}`;
  const isoDate = update ?? create;
  const dateMiliSeconds = new Date(isoDate).getTime();
  return {
    title,
    contentSnipett: tags,
    link,
    isoDate,
    dateMiliSeconds,
  };
});
const items = [...feedItems, ...blogItems].sort(
  (a, b) => b.dateMiliSeconds - a.dateMiliSeconds,
);
const { repositoryItems, contributionCalendar } = userContent;
const colors = ["#161b22", "#0e4429", "#006d32", "#26a641", "#39d353"];
---

<Layout title="Home">
  <section class="home-hero">
    <ContentWrapper>
      <div class="hero">
        <Hero client:only="svelte" />
      </div>
    </ContentWrapper>
  </section>
  {
    !!userContent && (
      <section class="home-github">
        <ContentWrapper>
          <div class="github">
            <h2 id="github">GitHub</h2>
            {!!repositoryItems.length && (
              <div class="github-repository">
                <h3 id="repository">Repository</h3>
                <RepositoryList repositoryItems={repositoryItems} />
              </div>
            )}
            {!!contributionCalendar && (
              <div class="github-contributions">
                <h3 id="contributions">Contributions</h3>
                <p>update once a week</p>
                <ActivityCalendar
                  blockMargin={3}
                  blockRadius={2}
                  blockSize={12}
                  fontSize={14}
                  colors={colors}
                  contributionCalendar={contributionCalendar}
                />
              </div>
            )}
          </div>
        </ContentWrapper>
      </section>
    )
  }
  {
    !!items.length && (
      <section class="home-feed">
        <ContentWrapper>
          <div class="feed">
            <h2 id="feed">Feed</h2>
            <FeedList {items} displayItemsCount={12} />
          </div>
        </ContentWrapper>
      </section>
    )
  }
</Layout>

<style>
  .hero,
  .github,
  .feed {
    padding: 2rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero {
    min-height: calc(100vh - var(--header-height));
  }

  h3 {
    text-align: left;
  }

  .github-repository,
  .github-contributions {
    width: 100%;
  }

  .github-repository {
    margin-bottom: 2rem;
  }
</style>
