---
import packageJson from '../../package.json'

const year = new Date().getFullYear()
const astro = 'https://astro.build/'
const svelte = 'https://svelte.dev/'
const astroVersion = packageJson.dependencies.astro.replace('^', '')
const svelteVersion = packageJson.dependencies.svelte.replace('^', '')
---

<div class="footer-content">
  <small>@{year} Kawano Yudai.</small>
  <br />
  <small>
    This site build with
    <a href={astro} target="_blank" rel="noopener noreferrer"
      >Astro@{astroVersion}</a
    > and
    <a href={svelte} target="_blank" rel="noopener noreferrer"
      >Svelte@{svelteVersion}</a
    >.
  </small>
</div>

<style>
  .footer-content {
    padding: 1rem;
    width: 100%;
    color: rgb(var(--color-gray));
    text-align: center;
  }
  small {
    font-size: 1rem;
  }
</style>
