---
import '../styles/global.scss'
import siteConfig from '../../site.config'
import ContentWrapper from '../components/ui/ContentWrapper.svelte'
import Header from './Header.astro'
import Footer from './Footer.astro'

export interface Props {
  title?: string
  noindex?: boolean
}
const { title, noindex } = Astro.props
const siteTitle = title ? `${title} | ${siteConfig.title}` : siteConfig.title
const gaMeasurementId = import.meta.env.PUBLIC_GA_MEASUREMENT_ID
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <script
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${gaMeasurementId}`}
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', gaMeasurementId)
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="email=no,telephone=no,address=no" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/image/icon16x.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/image/icon32x.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/image/icon180x.png"
    />
    <meta name="apple-mobile-web-app-title" content={siteConfig.title} />
    <meta name="theme-color" content="#00e1ee" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content={siteConfig.title} />
    <meta name="generator" content={Astro.generator} />
    {noindex && <meta name="robots" content="noindex" />}
    <title>{siteTitle}</title>
  </head>
  <body>
    <div id="astro">
      <header>
        <ContentWrapper>
          <Header />
        </ContentWrapper>
      </header>
      <main>
        <slot />
      </main>
      <footer>
        <ContentWrapper>
          <Footer />
        </ContentWrapper>
      </footer>
    </div>
  </body>
</html>

<style is:global>
  main > * {
    scroll-snap-align: end;
  }
</style>

<style lang="scss">
  #astro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      width: 100%;
    }
  }

  header {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(var(--color-black) / 0.1);
    backdrop-filter: blur(5.4px);
  }

  main {
    flex-grow: 1;
    scroll-snap-type: y mandatory;
    margin-top: var(--header-height);
  }
</style>
