---
import type { MarkdownLayoutProps } from "astro";
import ContentWrapper from "../components/ui/ContentWrapper.svelte";
import Markdown from "../components/ui/Markdown.svelte";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  noindex?: boolean;
}>;

const { frontmatter } = Astro.props;
const { title, noindex = false } = frontmatter;
---

<Layout title={title} noindex={noindex}>
  <article>
    <ContentWrapper>
      <h1>{title}</h1>
      {
        frontmatter && (
          <div class="frontmatter">
            <table>
              <caption>Frontmatter</caption>
              <tbody>
                {Object.entries(frontmatter)
                  .filter(([key]) => key !== 'file')
                  .map(([key, value]) => (
                    <tr>
                      <th>{key.toUpperCase()}</th>
                      <td>{value}</td>
                    </tr>
                  ))}
              </tbody>
            </table>
          </div>
        )
      }
      <Markdown>
        <slot />
      </Markdown>
    </ContentWrapper>
  </article>
</Layout>

<style>
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .frontmatter {
    margin-bottom: 3rem;
  }

  table {
    margin: 0;
    border-collapse: collapse;
  }

  caption {
    color: rgb(var(--color-lightgray));
    font-size: 1rem;
    padding: 0.5rem 0;
  }

  th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    text-align: left;
  }

  td {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
  }
</style>
